<html>
  <head>
    <meta charset="utf-8">
    <title>The Fishing-Rod - Notification design</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="navbar-lewagon1">
      <div class="btn-medium">Pospects</div>
      <div class="btn-medium">Returns</div>
      <div class="btn-medium">Info</div>
      <div class="btn-medium">contracts</div>
    </div>
    <div class="navbar-lewagon">
      <h1 style="margin-top: 15px; margin-bottom: 0px;">The Fishing-Rod</h1>
      <p style="margin-top: 0px;margin-bottom: 0px;">Great opportunities for <strong>AMAZING</strong> people</p>
      <img src="https://www.lewagon.com/assets/v4/logo-lewagon-9c19fb39a748cd3b1f49059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg" alt="logo">
    </div>

    <div class="navbar-lewagon2">
      <img src="https://4.bp.blogspot.com/-Mg09Xp7LITc/XNXiP4RoqDI/AAAAAAAAd5A/QLOt0rGMXNUOyxoW10ACtOSigMVV-uvhACLcBGAs/w1200-h630-p-k-no-nu/COMBI_VIAJA_BONITO_1.jpg" alt="" style="height:500px; box-shadow: 0 0 15px rgb(0 0 0 / 20%);" width="1200">
      <div class="card-product" style="height: 500px; justify-content: center; background-color: #dbdbdb;">
          <div class="card-product-infos" style="padding: 16px; width: 700px;  justify-content: left;justify-items: left;align-items: center;" >
            <h2 style="font-size: 36px;">Help amazing people from all over the world ,in the process joining our community and changing their life for ever</h2>
            <h2 style="color:#D32F2F; font-size: 16px;margin-top: 40px;margin-bottom: 40px;"> <strong>JOIN</strong> the auction, and help to complete the full scolarship foundraising by <strong> LENDING MONEY</strong> to the postulant of your choice. With the  ISA Income Shared Agreement contract you will get your money (plus the rate) back and a amazing feeling of directly helping people to change his destiny </h2>
            <p style="font-size: 14px; font-weight: bold;">You can invest the porcentage you want and at the rate you decide in one or many postulants. You can continue investing in a postulant that has completed the 100%, to lower the rate of return, the lowest offers that complete the 100% of the scolarship will win the ISA.</p>
          </div>
      </div>
    </div>
    <div clas="container">
      <div class="notifications1">
        <h2 style="font-size: 36px; margin-left: 700px; margin-top: 24px">Meet some of our postulants</h2>
      </div>
    </div>
    <div class="container">
      <div class="notifications">

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/57946531?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
         <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1632369530/mrukzkpkj7xgmeryngdr.jpg" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
          <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/59773903?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/64813439?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/108994401?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1660404032/fddnftewpuxyxxpmehqm.jpg" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/107373048?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://avatars.githubusercontent.com/u/107595820?v=4" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Full Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>

        <div class="card-product">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1643071567/egqv2fihtzbxliubzmlq.jpg" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Product Name</h2>
              <h2 style="color:#D32F2F; font-size: 16px;">Le Wagon Alumni</h2>
              <p>A brief description of the applicant history and achivements</p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>
        <div class="card-product">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1634601716/zfnf94kyhu0xhzje7mcz.jpg" style="height:200" width="200" >
            <div class="card-product-infos">
              <h2>Product Name</h2>
              <h2 style="color:#D32F2F; font-size: 12px;">Le Wagon Alumni</h2>
              <p>Product description with <strong>relevant info</strong> only </p>
            </div>
            <img src="https://previews.123rf.com/images/tevaritnavarath/tevaritnavarath1704/tevaritnavarath170400071/76539436-icon-pie-black-and-red-chart-40-60-percent.jpg" style="height: 100px;" width="100">
        </div>



      </div>

    </div>

  </body>
</html>
